<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @node %> | <%= @number %> | <%= @timestamp %></p>

    <p><%= @text %></p>

    <p><%= link_to @link, @link %></p>
  </body>
</html>