<%= form String.new, :url => account_path(@account), :html => { :id => "delete_account_#{@account.id}_form", :method => :delete } do |f| %>
  <div class="alert alert-warning fade in">
    <%= icon :warning, String.new, class: 'fa-fw' %> <%= raw I18n.t('libs.accounts.delete.text', name: @account.name) %>
  </div>

  <%= submit_tag I18n.t('actions.delete'), :class => 'btn btn-primary' %>
  <%= hlink_to I18n.t('actions.return'), accounts_path, :class => 'btn btn-default' %>
<% end %>

<div class="ribbon-content">
  <%= hlink_to I18n.t('actions.edit'), edit_account_path(@account), :class => 'btn btn-default btn-xs' %>
</div>