<h1 class="page-title">
  <%= icon :sitemap, @tree.name, class: 'fa-fw' %>
</h1>

<section id="widget-grid">
  <%= render 'tree' %>

  <div id="edit_tree_<%= @tree.id %>" class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
    <header>
      <span class="widget-icon"><%= icon :edit %></span>
      <h2><%= I18n.t('misc.data') %></h2>
    </header>

    <div>
      <div class="widget-body no-padding">
        <%= form(@tree, :url => tree_path, :html => { :class => 'smart-form' }) do |f| %>
          <%= render 'form', f: f %>

          <footer>
            <%= f.submit I18n.t('actions.edit'), :class => 'btn btn-primary' %>
              <%= hlink_to I18n.t('actions.return'), trees_path, :class => 'btn btn-default' %>
          </footer>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="ribbon-content">
  <%= hlink_to I18n.t('misc.list'), trees_path, :class => 'btn btn-default btn-xs' %>
</div>