<h1 class="page-title">
  <%= icon :sitemap, I18n.t('ivr.trees.index.title'), class: 'fa-fw' %>
</h1>

<% unless @trees.blank? %>

  <section id="widget-grid">
    <div id="trees" class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
      <header>
        <span class="widget-icon"><%= icon :table %></span>
        <h2><%= I18n.t('misc.data') %></h2>
      </header>

      <div>
        <div class="widget-body no-padding">
          <table class="data-table table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th><%= I18n.t('fields.shared.id') %></th>
                <th><%= icon :sitemap, String.new, class: 'text-muted hidden-md hidden-sm hidden-xs' %> <%= I18n.t('fields.shared.name') %></th>
                <th><%= I18n.t('ivr.trees.services.title') %></th>
                <th class="options"><%= I18n.t('misc.options') %></th>
              </tr>
            </thead>
            <tbody>
              <% @trees.each do |tree| %>
                <tr>
                  <td><%= tree.id %></td>
                  <td><%= tree.name %></td>
                  <td><%= tree.trees_services.length %></td>
                  <td class="options">
                    <%= hlink_to edit_tree_path(tree) do %>
                      <%= icon :edit %>
                      <%= I18n.t('actions.edit') %>
                    <% end %>

                    <%= hlink_to delete_tree_path(tree) do %>
                      <%= icon :remove %>
                      <%= I18n.t('actions.delete') %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <% content_for :js_tags do %>
    <%= render 'assets_calls/javascripts/data_tables' %>
  <% end %>

<% else %>

  <div class="alert alert-info fade in">
    <p><%= icon :info, I18n.t('messages.error.no_results'), class: 'fa-fw' %></p>
  </div>

<% end %>