<%= form String.new, :url => list_path(@list), :html => { :id => "delete_list_#{@list.id}_form", :method => :delete } do |f| %>
  <div class="alert alert-warning fade in">
    <%= icon :warning, String.new, class: 'fa-fw' %> <%= raw I18n.t('libs.lists.delete.text', name: @list.name) %>
  </div>

  <%= submit_tag I18n.t('actions.delete'), :class => 'btn btn-primary' %>
  <%= hlink_to I18n.t('actions.return'), lists_path, :class => 'btn btn-default' %>
<% end %>

<div class="ribbon-content">
  <%= hlink_to I18n.t('actions.edit'), edit_list_path(@list), :class => 'btn btn-default btn-xs' %>
</div>