<%= form String.new, :url => destination_path(@destination), :html => { :id => "delete_destination_#{@destination.id}_form", :method => :delete } do |f| %>
  <div class="alert alert-warning fade in">
    <%= icon :warning, String.new, class: 'fa-fw' %> <%= raw I18n.t('libs.destinations.delete.text', name: @destination.name) %>
  </div>

  <%= submit_tag I18n.t('actions.delete'), :class => 'btn btn-primary' %>
  <%= hlink_to I18n.t('actions.return'), destinations_path, :class => 'btn btn-default' %>
<% end %>

<div class="ribbon-content">
  <%= hlink_to I18n.t('actions.edit'), edit_destination_path(@destination), :class => 'btn btn-default btn-xs' %>
</div>